article {
    font-family: Arial, Verdana;
}
main article h2 {
    color: rgb(16, 3, 27);
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
main article p {
    padding: 4px 12px;
}

main .tell-container {
    display: flex;
    justify-content: center;
}
main .tell-container p {
    margin: 0;
    text-align: right;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 150px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main .whatsapp {
    
    width: 150px;
    height: 150px;
    background-image: url("../assets/img/Logo-Whatsapp-PNG.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

main article img {
    width: 100%;
}

@media (min-width: 900px) {
    h2 {
        font-size: 2rem;
    }
    main article p {
        padding: 4px 18%;
    }
    main article img {
        width: 90%;
    }
    main article figure {
        margin: 0;
        padding: 0 18%;
    }
}


