.product-cards--container{
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin: 0 auto;
}
.plans-container--sliders{
    justify-content: center;
}
.main-tables-container{
    display: flex;
    width: 930;
    margin: 0 auto;
}