.main-header {
    display: flex;
    background-color: black;
    justify-content: space-between;
    padding-right: 10px;
    position: fixed;
    width: 100vw;
    z-index: 2;
}
.main-header:nth-child(1) {
    line-height: 50px;
}
.main-header img {
    padding-top: 5px;
    margin-left: 38px;
    width: 36px;
    display: block;
}

.main-header button {
    display: inline-block;
    border-radius: 16px;
    font-size: 16px;
    padding: 5px 7px;
    box-shadow: 0;
    cursor: pointer;
    color: rgb(244, 244, 244);
    border: none;
    background-color: rgb(28, 118, 28);
}
.main-header div button:nth-child(1) {
    background-color: white;
    color: rgb(79, 78, 78);
    border-bottom: none;
}

/*menu de navegación*/
nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    background: black;
}
nav label[for="open-menu"] {
    color: white;
    margin-left: 10px;
    font-size: 20px;
}
nav label[for="close-menu"] {
    align-self: end;
    margin: 4px;
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 24px;
}
.main-menu {
    display: none;
    color: rgb(225, 223, 223);
    padding-left: 5px;
}

ul.main-menu li {
    list-style: none;
}

#close-menu, #open-menu , label[for="close-menu"] {
    display: none;
}

@keyframes menu {
    0% {
        opacity: 0;
        height: 0;
    }
    100% {
        opacity: 1;
        height: 100vh;
    }
}

#open-menu:checked ~ .main-menu {
    display: flex;
    flex-direction: column;
    width: 80vw;
    background: rgb(48, 46, 46);
    animation: menu 2s ease 1 normal forwards;
    overflow-y: hidden;
}


#open-menu:checked ~ label[for="close-menu"],
#close-menu:checked ~ label[for="open-menu"] {
    display: block;
}

#open-menu:checked ~ label[for="open-menu"],
#close-menu:checked ~ label[for="close-menu"],
#close-menu:checked  ~ .main-menu {
    display: none;
}


