.slider-container {
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    /* scroll-snap-type: x proximity; */
}
.slider {
    cursor: pointer;
    scroll-snap-align: center;
}

.img-container {
    background-size: cover;
    background-position: center;
}

li {
    list-style: none;
}